<template>
    <div class="error">
        <p>{{ getError }}</p>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "Error",
        computed: {
            ...mapGetters(['getError'])
        }
    }
</script>

<style scoped lang="sass">
    .error
        border: 3px solid #d21d23
        border-radius: 10px
        padding: 20px
        max-width: 500px
</style>
