<template>
    <div class="modal__wrapper" @keydown.esc="showModal">
        <div class="modal">
            <div class="cross" @click="showModal">&#10062;</div>
            <div class="modal__header">
                <h2>User info</h2>
            </div>
            <div class="modal__content">
                <p><strong>Name:</strong> {{ selectedUser.fullname }}</p>
                <p><strong>City:</strong> {{ selectedUser.address.city }}</p>
                <p><strong>State:</strong> {{ selectedUser.address.state }}</p>
                <p><strong>Street Address:</strong> {{ selectedUser.address.streetAddress }}</p>
            </div>
            <div class="modal__footer">

            </div>
        </div>
        <div class="overlay" @click="showModal"></div>
    </div>
</template>

<script>
    export default {
        props: ['showModal', 'selectedUser'],
        name: "Modal",
        mounted() {
            document.addEventListener("keyup", e => {
                if (e.keyCode == 27) {
                    this.$emit('close');
                }
            });
        }
    }
</script>

<style scoped lang="sass">
    .overlay
        opacity: 1
        display: block
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, .6)
        z-index: 20
        transition: .3s all
    .modal
        padding: 20px 50px
        opacity: 1
        display: block
        position: fixed
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 30
        background-color: #fff
        border-radius: 10px
        text-transform: uppercase
    .modal__header h2
        color: #9c0f24
        text-align: center
        font-size: 25px
    .modal__content
        margin: 20px 0
        font-size: 16px
        max-height: 220px
        overflow: auto
        p
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0
    .modal__footer
        display: flex
        justify-content: center
    .cross
        position: absolute
        top: 15px
        right: 15px
        cursor: pointer
</style>
