<template>
    <div class="pagination">
        <div class="left-btns">
            <button @click="firstPage" :disabled="currentPage === 1">&#8606;</button>
            <button @click="prevPage" :disabled="currentPage === 1">&#8592;</button>
        </div>
        <ul>
            <li v-for="(page, key) in pages" :key="key" @click="particularPage(page)">
                <button :class="{active: currentPage === page}">{{ page }}</button>
            </li>
        </ul>
        <div class="right-btns">
            <button @click="nextPage" :disabled="currentPage === pages">&#8594;</button>
            <button @click="lastPage" :disabled="currentPage === pages">&#8608;</button>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";

    export default {
        name: "Pagination",
        methods: {
            ...mapActions({
                nextPage: 'getNextUsers',
                prevPage: 'getPrevUsers',
                particularPage: 'getExactUsers',
                firstPage: 'goToFirstPage',
                lastPage: 'goToLastPage'
            })
        },
        computed: {
            ...mapGetters({
                pages: 'getPagesAmount',
                currentPage: 'getCurrentPage'
            })
        }
    }
</script>

<style scoped lang="sass">
    .pagination
        display: flex
        margin: 30px 0
        justify-content: center
    ul
        margin: 0 30px
        padding: 0
    ul li
        display: inline-block
    button
        background: none
        border: none
        outline: none
        width: 30px
        height: 30px
        border-radius: 50%
        margin: 0 10px
        cursor: pointer
        &:hover
            border: 2px solid #5ad00b
        &:disabled:hover
            border: none
    .active
        background-color: #5ad00b
    .left-btns, .right-btns
        button
            border-radius: 0
</style>
