<template>
    <div class="search">
        <input type="text" v-model="$store.state.searchQuery">
        <button @click="searchUsers">Найти</button>
        <div class="no-results" v-if="noSearchResults">ничего не найдено</div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "Search",
        methods: {
            ...mapActions(['searchUsers'])
        },
        computed: {
            ...mapGetters(['getSearchQuery', 'noSearchResults'])
        }
    }
</script>

<style scoped lang="sass">
    .search
        margin-bottom: 20px
        input
            min-width: 500px
            height: 40px
            padding: 0 10px
            border-radius: 10px 0 0 10px
            outline: none
            border: 2px solid #5ad00b
        button
            min-width: 60px
            height: 40px
            border: 2px solid #5ad00b
            background: none
            outline: none
            border-left: none
            cursor: pointer
            border-radius: 0 10px 10px 0
        .no-results
            color: #d21d23
            font-size: 12px
            margin-left: 10px
</style>
