<template>
    <div class="loadingio-spinner-eclipse-tnoqu7mbwhn">
        <div class="ldio-j1o75hwfke">
            <div></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "spinner"
    }
</script>

<style scoped lang="sass">
    @keyframes ldio-j1o75hwfke
        0%
            transform: rotate(0deg)
        50%
            transform: rotate(180deg)
        100%
            transform: rotate(360deg)

    .ldio-j1o75hwfke div
        position: absolute
        animation: ldio-j1o75hwfke 1s linear infinite
        width: 60px
        height: 60px
        top: 70px
        left: 70px
        border-radius: 50%
        box-shadow: 0 4px 0 0 #5ad00b
        transform-origin: 30px 32px
    .loadingio-spinner-eclipse-tnoqu7mbwhn
        width: 200px
        height: 200px
        display: inline-block
        overflow: hidden
        background: rgba(0, 0, 0, 0)
    .ldio-j1o75hwfke
        width: 100%
        height: 100%
        position: relative
        transform: translateZ(0) scale(1)
        backface-visibility: hidden
        transform-origin: 0 0
    .ldio-j1o75hwfke div
        box-sizing: content-box
</style>
