<template>
    <div class="table">
        <search v-if="tableData.length > 0" />
        <table>
            <thead>
            <tr>
                <th v-for="(header, key) in headers" :key="key" @click="sortTable(header)">
                    {{ header }}
                    <div class="arrows">
                        <div v-if="getSortDirection === 'up'">&#8593;</div>
                        <div v-else>&#8595;</div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, key) in tableData" :key="key" @click="showModal(item)">
                <!--<td>{{ item[headers[idx]] }}</td>
                <td>{{ item[headers[idx]] }}</td>
                <td>{{ item[headers[idx]] }}</td>
                <td>{{ item[headers[idx]] }}</td>
                <td>{{ item[headers[idx]].state }}</td>-->
                <td v-for="(header, key) in headers" :key="key">{{ header !== 'address' ? item[header] : item[header].state }}</td>
            </tr>
            </tbody>
        </table>
        <pagination v-if="$store.state.users.length >= $store.state.pagination.rowsPerPage" />
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import Search from "./Search";
    import Pagination from "./Pagination";

    export default {
        props: [
            'headers',
            'tableData',
            'showModal'
        ],
        components: {
            Search,
            Pagination
        },
        name: "Table",
        data() {
            return {
                arrowUp: true
            }
        },
        methods: {
            ...mapActions(['sortTable'])
        },
        computed: {
            ...mapGetters(['getSortDirection'])
        }
    }
</script>

<style scoped lang="sass">
    .table
        display: flex
        flex-direction: column
        align-items: center
    table
        border-collapse: collapse
    table th, table td
        border: 1px solid black
        padding: 5px
    table th
        width: 200px
        height: 40px
        text-transform: capitalize
        background-color: #9c0f24
        color: #fff
    table th:hover .arrows
        visibility: visible
    table tr
        &:nth-child(even)
            background-color: #dedede
    .arrows
        visibility: hidden
        float: right
</style>
