<template>
    <div id="app">
        <button class="show-users" @click="getUsers">Показать пользователей</button>
        <spinner v-if="loading"/>
        <error v-else-if="getError" />
        <app-table v-else
                   :headers="headers"
                   :tableData="getPaginatedUsers"
                   :showModal="showModal"
        />
        <modal v-if="getModalState" :selectedUser="getSelectedUserInfo" :showModal="showModal" @close="showModal()"/>
    </div>
</template>

<script>

    import Spinner from "./components/Spinner";
    import {mapActions, mapGetters} from "vuex";
    import Modal from "./components/Modal";
    import Table from "./components/Table";
    import Error from "./components/Error";

    export default {
        name: 'App',
        components: {
            Spinner,
            Modal,
            appTable: Table,
            Error
        },
        methods: {
            ...mapActions(['getUsers', 'getHeaders', 'showModal'])
        },
        computed: {
            ...mapGetters([
                'getPaginatedUsers',
                'headers',
                'loading',
                'getModalState',
                'getSelectedUserInfo',
                'getError'
            ]),
        }
    }
</script>

<style lang="sass">
@font-face
    font-family: 'Roboto-Regular'
    font-style: normal
    src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format('truetype')
    src: url("./assets/fonts/Roboto/Roboto-Regular.woff") format('woff')
*
    margin: 0
    padding: 0
    box-sizing: border-box
html
    font-family: 'Roboto-Regular', sans-serif
    font-size: 14px
#app
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 20px
    .show-users
        height: 50px
        border: none
        outline: none
        background-color: #9c0f24
        border-radius: 10px
        margin-bottom: 20px
        cursor: pointer
        padding: 0 10px
        color: #fff
</style>
